@media only screen and (max-width: 1570px){
	.sct5 .right{
		width: 47%;
		padding: 0 50px;
		min-width: 387px!important;
	}
	.sct5 input, .sct5 select{
		width: 170px;
	}
	header p{
		width: 91%!important;
	}
	header .soc-icon{
		right: 20px;
	}

}
@media only screen and (max-width: 1430px){
	header nav>img{
		margin-left: 30px;
	}
	header nav ul{
		left: 160px;
	}
	.sct5 {
		padding-left: 50px!important;
		padding-right: 0px!important;
	}
	

}

@media only screen and (max-width: 1255px){
	.soc-icon{
		display: none!important;
	}
	nav li:last-child a{
		position:absolute;
		top: -35px;
		left: 0;
	}


}
@media only screen and (max-width: 1170px){
	#nav{
		height: 80px!important;
	}
	nav ul{
		width: 300px;
		left: unset!important;
		right: -300px	;
		padding-top: 80px;
		background: rgba(17,68,62,0.9);
		border-bottom-left-radius: 8px;
	}
	nav>img{
		margin-left: 10%!important;
	}
	nav ul li a:not([class='reserv']) {
		border: none;
		display: block!important;
		text-align: left;
		padding: 15px!important;
		margin: 0!important;
	}
	nav ul li a:not([class='reserv']):hover{
		background: unset;
		border: none;
		color: rgb(43,169,154)!important;
	}
	nav ul li:first-child{
		padding-top:  10px!important;
	}
	nav ul li a.reserv{
		position: fixed;
		top: 10px!important;
		left: calc(50% - 147px);
		border: none!important;
		padding: 10px 15px 5px 60px!important;
	}
	nav li:not([class='reserve']){
		display: block!important;
		padding:  0!important;
	}
	nav li a.reserv{
		margin-top: 5px;
	}
	.cont{
		display: inline-block!important;
		position: fixed;
		top: 22px;
		right: 30px;
	}
	.sct5>div{
		width: 80%!important;
	}
	.sct5 input, .sct5 select{
		width: 300px;
	}
	.sct5{
		padding-left: 0!important;
		padding-right: 0!important;
		text-align: center;
	}
	.sct5 .left{
		margin-bottom: 90px;
	}
	.sct2{
		text-align: center!important:;
	}
	.sct1>div{
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
		margin-left: -50px;
	}
}

@media only screen and (max-width: 991px){}
@media only screen and (max-width: 768px){}
@media only screen and (max-width: 560px){}
@media only screen and (max-width: 480px){}